@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "react-quill/dist/quill.snow.css";

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 50%;
  margin-top: -9px;
  pointer-events: auto;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  border: 1px solid rgb(108, 108, 243);
}

.sc-laZRCg.cXFStL {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slick-prev {
  left: 70px;
  z-index: 100;
}

.slick-next {
  right: 70px;
  z-index: 100;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  color: yellow;
}

.lg-react-element {
  height: 320px;
}

.text-dangerous.css > h1,
.text-dangerous.css > h2,
.text-dangerous.css > h3,
.text-dangerous.css > h4,
.text-dangerous.css > h5,
.text-dangerous.css > h6,
.text-dangerous.css > p,
.text-dangerous.css > span,
.text-dangerous.css > strong,
.text-dangerous.css > p > strong,
.text-dangerous.css > img,
.text-dangerous.css > li {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

.text-dangerous.css img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.image-gallery-icon.image-gallery-left-nav,
.image-gallery-icon.image-gallery-right-nav {
  font-size: 16px !important;
}

.image-gallery-svg {
  width: 24px !important;
  height: 24px !important;
}

.image-gallery-icon.image-gallery-left-nav svg,
.image-gallery-icon.image-gallery-right-nav svg {
  width: 40px !important;
  height: 40px !important;
}

.image-gallery-thumbnail-image {
  height: 70px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

/* cho trình duyệt Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

/* cho trình duyệt Internet Explorer */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar-track {
  background: #f1f1f1;
}

::-ms-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
