@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 50%;
  margin-top: -9px;
  pointer-events: auto;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  border: 1px solid rgb(108, 108, 243);
}
